
*{
    margin: 0;
    padding: 0;
}

.header_content {
    width: 100%;
    padding-top:39px;
    padding-right: 30px;
    height: 90px;
}

.header_top {
    padding-right: 80px;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
li {
    display: inline-block;
}
.body_wrapper {
    width: 100%;
    position:relative;
    height: 100%;
}

.main_body {
    width: 100%;
    height: 100px;
}

.footer_mot {
    text-align: right;
    font-size: 20px;
    padding: 30px 49px;
}

.footer_content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.create_main {
    background-color: #ced4da;
}

.index_reccomend{
  padding-top: 97px;
}

.index_reccomend_spell{
  text-align: center;
  color: #7886d7;
  size: 38px;
}

.search_index {
    color: lightsalmon;
    text-align: center;
}

.search_form {
    padding-top:10px;
    margin-top: 10px;
    text-align: center;
    font-size:0;
}

.form_content {
    text-align: center;
    font-size:25px;
    width: 35%;
    display: inline-block;
}

.search_btn_info {
    display: inline-block;
    font-size:20px;
}
