
*{
    margin: 0;
    padding: 0;
}

.html,body {
    height: 100%;
}

.header_content {
    width: 100%;
    padding-top:39px;
    padding-right: 30px;
    height: 90px;
}

.header_top {
    padding-right: 80px;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
li {
    display: inline-block;
}
.body_wrapper {
    width: 100%;
    position:relative;
    height: 100%;
}

.main_body {
    width: 100%;
    height: 100px;
}

.footer_mot {
    text-align: right;
    font-size: 20px;
    padding: 30px 49px;
}

.footer_content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.create_main {
    background-color: #ced4da;
    min-height: 200vh;
    padding-bottom: 60px;
    min-height: 100vh;
    position: relative;
    /*how to fix header footer calc in height ? */
}

.index_recommend{
  padding-top: 97px;
}

.index_recommend_spell{
  text-align: center;
  color: #7886d7;
  size: 38px;
}

.search_index {
    color: lightsalmon;
    text-align: center;
}

.search_form {
    padding-top:10px;
    margin-top: 10px;
    text-align: center;
    font-size:0;
}

.form_content {
    text-align: center;
    font-size:25px;
    width: 35%;
    display: inline-block;
}

.search_btn_info {
    display: inline-block;
    font-size:20px;
}

.account_mot {
    margin-left: 40px;
    font-family: Arial;
    padding-top: 27px;
}

.account_register{
  padding: 20px 40px;

}

.account_name {
  color: #16181b;
  font-family: "Tamil MN";
  font-size: 30px;
}

.account_form {
  background-color: snow;
  width: 40%;
  margin-left: 380px;
  height: 310px;
}

.admin_name {
    margin-left: 39px;
    padding-top:42px;
    font-size: 30px;
}

.name_css {
    font-size: 20px;
    width: 42%;
}

.password_around {
    margin-top: 30px;
    padding-left: 39px;
    font-size: 30px;
}

.password_css {
    margin-left: 20px;
    font-size: 20px;
    width: 278px;
}

.email_around {
    margin-top: 30px;
    padding-left: 39px;
    font-size: 30px;
}

.email_css {
    margin-left: 20px;
    font-size: 20px;
    width: 278px;
    padding-top: 3px;
}

.btn-primary {
    width: 96px;
    height: 36px;
    background-color: mediumpurple;
    margin-left: 180px;
    margin-top: 14px;
}

.btn-secondary {
    width: 96px;
    height: 36px;
    background-color: seashell;
    margin-left: 19px;
}

.base_button {
    display: inline-block;
}

.showaccount_footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    margin-top: auto;
    height: 20px;
}

.showaccount_mot {
    text-align: right;
    margin-right: 20px;
}

.showaccount_name {
  margin: 10px 0px 0px 80px ;
  font-size: 28px;
}

.showaccount_email {
    margin: 50px 0px 0px 80px ;
    font-size: 28px;
}

.account_btn {
    text-align: center;
    margin-top: 71px;
}

.edit_btn {
    display: inline-block;
    background-color: purple;
    color: whitesmoke;
    width: 120px;
    height: 50px;
}

.delete_btn {
    display: inline-block;
    background-color: blue;
    color: whitesmoke;
    width: 120px;
    height: 50px;
    margin-left: 20px;
}

.create_btn {
    display: inline-block;
    background-color: #c3e6cb;
    color: whitesmoke;
    width: 120px;
    height: 50px;
    margin-left: 20px;
}

.editac_btn {
    width: 120px;
    height: 50px;
    display: inline-block;
    color: whitesmoke;
    background-color: midnightblue;
}

.editac2_btn {
    width: 120px;
    height: 50px;
    display: inline-block;
    color: whitesmoke;
    background-color: black;
}
