
.item_header {
    width: 100%;
    padding-top: 39px;
    padding-right: 30px;
    height: 90px;
}

.item_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.item_name {
    background-color: ghostwhite;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

}

.item_image {

}

.item_btn_second {
    width: 116px;
    height: 36px;
    background-color: seashell;
    vertical-align: middle;
    margin: 20px 0  30px 19px;
}

.item_btn_first {
    vertical-align: middle;
    width: 156px;
    height: 37px;
    background-color: mediumpurple;
    margin: 30px 30px 30px 130px;
    border-radius: 3px;
}
.a {
    vertical-align: middle;
    color: #fff;
    background: #5876a3;
    padding: 7px 20px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
}
